{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
    {{ nav_link('conseiller.gerer_demandes', 'Accueil') }}
{% endblock %}
{% block content %}
            <table>
                <tr>
                    {% for col in requests[0].afficher().keys() %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for request in requests %}
                    <tr>
                        {% for e in request.afficher().values() %}
                            <td>{{ e|make_caps|center }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
{% endblock %}}