{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
    {{ nav_link('conseiller.gerer_demandes', 'Gestion de demandes') }}
{% endblock %}
{% block content %}
            <h2>Vous avez {{ total_de_demandes }} demandes de création de compte.</h2>
            {% if total_de_demandes>0 %}
            <table><tr>
                <th>  </th>{% for col in demandes[0].afficher() %}<th>{{ col }}</th>{% endfor %}
                <th>Choisissez une action</th>
                </tr>
                {% for demande in demandes %}
                    <tr>
                        <td><input type="checkbox" id="Accepter" name="Accepter"></td>
                        {% for e in demande.afficher() %}
                            <td>{{ demande.afficher()[e]|center }}
                            {% if e=="Nom" %}
                                <br><form action="{{ url_for('conseiller.display_piece_id') }}">
                                <button type="submit" name="identite" value="{{ demande.afficher()['id'] }}">
                                    Pièce d'identité</button>
                                 </form>
                            {% elif e=="Adresse" %}
                                <br><form action="{{ url_for('conseiller.display_just_domicile') }}">
                                <button type="submit" name="identite" value="{{ demande.afficher()['id'] }}">
                                    Just. de domicile</button>
                                </form>
                            {% elif e=="Revenu mensuel" %}
                                <br><form action="{{ url_for('conseiller.display_just_salaire') }}">
                                <button type="submit" name="identite" value="{{ demande.afficher()['id'] }}">
                                    Just. de revenus</button>
                                </form>
                            {% endif %}
                            </td>
                        {% endfor %}
                    <td>
                        <form>
                        <button type="submit" name="accepter" value="{{ demande.afficher()['id'] }}"
                                onclick="alert('Demande '+{{demande.afficher().id}}+' acceptée.')">Accepter</button>
                        <button type="submit" name="refuser" value="{{ demande.afficher()['id'] }}"
                                  onclick="alert('Demande '+{{demande.afficher().id}}+' refusée.')">Refuser</button></form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <p>
                <br>
                <br>
            </p>
            <h2>GestiBank a {{ total_de_clients }} clients:</h2>
            {% if total_de_clients>0 %}
            <table>
                <tr>
                    {% for col in clients[0].afficher() %}
                        {% if col != "discriminator" and col!='username'  %}
                        <th>{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>Compte épargne</th>
                </tr>
                {% for client in clients %}
                    <tr>
                        {% for c in client.afficher() %}
                        {% if c != "discriminator" and c!='username' %}
                            <td>{{ client.afficher()[c]|center }}
                            {% if c=="Nom" %}
                                <br><form action="{{ url_for('conseiller.display_piece_id') }}">
                                <button type="submit" name="identite" value="{{ client.afficher()['id'] }}">
                                    Pièce d'identité</button>
                                 </form>
                            {% elif c=="Adresse" %}
                                <br><form action="{{ url_for('conseiller.display_just_domicile') }}">
                                <button type="submit" name="domicile" value="{{ client.afficher()['id'] }}">
                                    Just. de domicile</button>
                                </form>
                            {% elif c=="Revenu_mensuel" %}
                                <br><form action="{{ url_for('conseiller.display_just_salaire') }}">
                                <button type="submit" name="salaire" value="{{ client.afficher()['id'] }}">
                                    Just. de revenus</button>
                                </form>
                            {% endif %}</td>
                            </td>
                        {% endif %}
                        {% endfor %}
                        <td>
<form>
                        <button type="submit" name="supprimer" value="{{ client.afficher()['id'] }}"
                                  onclick="alert('Client '+{{client.afficher().id}}+' supprimé.')">Supprimer</button></form>                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
{% endblock %}}
