{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
    {{ nav_link('conseiller.gerer_demandes', _('Gestion de demandes')) }}
{% endblock %}
{% block app_content %}
            <h2>{{ _('Demandes de création de compte :') }}</h2>
            <table>
                <tr>
                    <th>  </th>
                    {% for col in demandes[0].afficher().keys() %}
                        <th>{{ col }}</th>
                    {% endfor %}
                    <th>Choisissez une action</th>
                </tr>
                {% for demande in demandes %}
                    <tr>
                        <td><input type="checkbox" id="Accepter" name="Accepter"></td>
                        {% for e in demande.afficher().values() %}
                            <td>{{ e|center }}</td>
                        {% endfor %}
                    <td>
                        <form><button type="submit" name="accepter" value=demande.afficher().id() onclick="alert('Demande '+{{demande.afficher().id}}+' acceptée.')">Accepter</button></form>
                        <form><button type="submit" name="refuser" value=demande.afficher().id() onclick="alert('Demande '+{{demande.afficher().id}}+' refusée.')">Refuser</button></form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
            <p>
                <br>
                <br>
            </p>
            <h2>Liste de clients :</h2>
            <table>
                <tr>
                    {% for col in users[0].afficher().keys() %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for user in users %}
                    <tr>
                        {% for e in user.afficher().values() %}
                            <td>{{ e|make_caps|center }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
{% endblock %}}
