{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
{{ nav_link('client.Virement', 'Effectuer un virement') }}
{% endblock %}
{% block content %}
<form action="{{ url_for('client.compteCourant') }}" method="post">
        <p> Bienvenue sur vôtre compte courant</p>
</form>
<table>
                <tr>
                    {% for col in operations[0].afficher().keys() %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for operation in operations %}
                    <tr>
                        {% for e in operation.afficher().values() %}
                            <td>{{ e|date_format }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
{% endblock %}
</html>