{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
    {{ nav_link('client.index', _('Espace Client')) }}
    {{ nav_link('client.compteCourant', _('Compte Courant')) }}
{% endblock %}}
{% block content %}
    <h2>{{ _('Bienvenue sur votre compte courant') }}</h2>
    <p style='color:blue'><u>{{ _('Solde :')  }} {{compte.solde}} {{_('€') }}</u></p>
    {% if operations %}
        <table>
            <tr>
                {% for col in operations[0].afficher().keys() %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% for operation in operations %}
                <tr>
                    {% for e in operation.afficher().values() %}
                        <td>{{ e|date_format }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <p><a class="btn_cnx" href="{{ url_for('client.virement') }}">{{ _('Effectuer un Virement') }}</a></p>
{% endblock %}
</html>