{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
    {{ nav_link('main.index', _('Accueil')) }}
    {{ nav_link('client.index', _('Espace Client')) }}
{% endblock %}}
{% block content %}
<form action="{{ url_for('client.index') }}" method="post">
    <h2>{{ _('Bienvenue dans votre espace') }}</h2>
    {% if current_user.is_authenticated %}
        <p><a class="btn_cnx" href="{{ url_for('client.virement') }}">{{ _('Effectuer un Virement') }}</a></p>
        <p><a class="btn_cnx" href="{{ url_for('client.compteCourant') }}">{{ _('Compte Courant') }}</a></p>
        {% if nb_comptes > 1 %}
            <p><a class="btn_cnx" href="{{ url_for('client.compteEpargne') }}"> {{ _('Compte Epargne') }}</a></p>
        {% else %}
            <p><a class="btn_cnx" href="{{ url_for('client.index') }}?open_ce=1"> {{ _('Ouvrir Un Compte Epargne') }}</a></p>
        {% endif %}
    {% endif %}
</form>
{% endblock %}
</html>