{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
    {{ nav_link('main.index', _('Acceuil')) }}
    {{ nav_link('client.index', _('Espace Client')) }}
    {{ nav_link('client.virement', _('Effectuer un Virement')) }}
{% endblock %}}
{% block content %}
<form action="{{ url_for('client.virement') }}" method="post">
        {{form.hidden_tag()}}
        <p>
            {{form.compte_src.label}}<br>
            {{form.compte_src()}}<br>

            {% for error in form.compte_src.errors %}
                <span style='color:red'>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.compte_dest.label}}<br>
            {{form.compte_dest()}}<br>

            {% for error in form.compte_dest.errors %}
                <span style='color:red'>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.valeur.label}}<br>
            {{form.valeur(size=32)}}<br>

            {% for error in form.valeur.errors %}
                <span style='color:red'>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.motif.label}}<br>
            {{form.motif(size=32)}}<br>

            {% for error in form.motif.errors %}
                <span style='color:red'>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{form.submit}}</p>

</form>
{% endblock %}
