{% extends "main/base.html" %}
{% block nav %}
    {{ nav_link('main.index', 'Accueil') }}
    {{ nav_link('auth.signup', 'Inscription') }}
    {{ nav_link('auth.signup_confirmation', "Confirmation d'inscription") }}
{% endblock %}}
{% block content %}
    <h2>
        <br>
        Bonjour, <br>
        <br>
        GestiBank vous remercie de votre demande de création de compte.<br>
        Un de nos conseillers traitera votre demande dans les plus brefs délais.<br>
        Cordialement,<br>
        <br>
        L'équipe GestiBank
    </h2>
{% endblock %}