{% extends "main/base.html" %}
{% block nav %}
    {{ nav_link('main.index', 'Accueil') }}
    {{ nav_link('auth.signin', 'Inscription') }}
{% endblock %}}
{% block content %}
    <h2>Demande de création de compte</h2>
    <p>{{ nav_link('conseiller.gerer_demandes', 'gerer') }}</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.prenom.label }}<br>
            {{ form.prenom(size=32) }}
            {% for error in form.prenom.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nom.label }}<br>
            {{ form.nom(size=32) }}
            {% for error in form.nom.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.adresse.label }}<br>
            {{ form.adresse(size=32) }}
            {% for error in form.adresse.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tel.label }}<br>
            {{ form.tel(size=32) }}
            {% for error in form.tel.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.revenu_mensuel.label }}<br>
            {{ form.revenu_mensuel(size=32) }}
            {% for error in form.revenu_mensuel.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}