<p>Bonjour {{ client.prenom }}{{ client.nom }},</p>
<p>
    Votre demande de création de compte sur GestiBank vient d'être acceptée.<br>
    Votre nouveau mot de passe est: <br>
    {{ random_pass }}<br>
    Nous vous conseillons de modifier le mot de passe ci-dessus lors de votre première connexion.<br>
    Cordialement,<br>
    <br>
    L'équipe GestiBank
</p>
<p>Vous pouvez également copier et coller le lien ci-dessous sur votre navigateur :</p>
<p>{{ url_for('auth.create_password', token=token, _external=True) }}</p>
<p>Si vous n'avez pas solicité la création d'un compte, veuillez ignorer ce message.</p>
<p>Cordialement,</p>
<p>L'équipe GestiBank</p>