{% extends "main/base.html" %}
{% block links_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block nav %}
    {{ nav_link('main.index', _('Accueil')) }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        function convert(){
            var montant = document.getElementById("montant").value;
            var src_type = document.getElementById("src-select").value;
            var conv_type = document.getElementById("conv-select").value;
            var xhr;
            try {  xhr = new ActiveXObject('Msxml2.XMLHTTP');   }
            catch (e)
            {
                try {   xhr = new ActiveXObject('Microsoft.XMLHTTP'); }
                catch (e2)
                {
                   try {  xhr = new XMLHttpRequest();  }
                   catch (e3) {  xhr = false;   }
                 }
            }

            xhr.onreadystatechange  = function()
            {
               if(xhr.readyState  == 4)
               {
                    if(xhr.status  == 200){
                        //document.ajax.dyn="Received:"  + xhr.responseText;
                        var rep = JSON.parse(xhr.responseText);
                        var result = montant;
                        if (src_type == "EUR" && conv_type == "USD"){
                            result = result / rep.quotes.USDEUR;
                        }else if(src_type == "USD" && conv_type == "EUR"){
                            result = result * rep.quotes.USDEUR;
                        }
                        var result_elem = document.getElementById("result_convert");
                        result_elem.innerHTML = result;
                    }else
                        document.ajax.dyn="Error code " + xhr.status;
               }
            };
            if ( src_type != conv_type) {
                var requete = "http://apilayer.net/api/historical?access_key=25280eb3808bb1588174f5e19c3bbbf3&date=2019-10-13&currencies=EUR&format=1";
                xhr.open("GET", requete, true);
                xhr.send(null);
            }
        }
    </script>
    <p>
        <label for="src-select">Devise source :</label>
        <select id="src-select">
            <option value="">--Choisir une devise--</option>
            <option value="EUR">Euro</option>
            <option value="USD">Dollars</option>
        </select>
    </p>
    <p>
        <label for="montant">Montant :</label>
        <input type="text" id="montant" name="Montant">
    </p>
    <p>
        <label for="conv-select">Devise cible :</label>
        <select id="conv-select">
            <option value="">--Choisir une devise--</option>
            <option value="EUR">Euro</option>
            <option value="USD">Dollars</option>
        </select>
    </p>
    <p><button type="button" name="Convertir" onclick="convert();">Convertir</button></p>
    <p id="result_convert" align="center"></p>
{% endblock %}
